<script src = "api-functions.js"></script> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="global.js"></script>

<script>
    function transferAmountClick(account,amount){
      if(account.length==0 || amount.length == 0){
        let parentDiv = document.createElement("div")
        let para = document.createElement("p")
        para.innerHTML = "Please fill in missing fields"
        parentDiv.appendChild(para)
        document.getElementById("container").appendChild(parentDiv)
      }
      let balance = checkBalance(current_user)
      let accountStatus = checkAccountStatus(account)
      transferAmount(account,amount,current_user)
      console.log(balance[0].amount)
      console.log(accountStatus[0].status)
      if(balance[0].amount < amount){
        //show error
      }
      else if(accountStatus[0].status != "Active"){
        //show error
      }
      else{
        transferAmount(account,amount)
      }

    }

</script>


<br><br>
<div>
    <h1 style="text-align: center;">Transfer amount</h1>    
</div>
<br><br>

<div class="container">
        <div class="form-group">
          <label for="exampleInputEmail1">Account Number</label>
          <input type="Integer" class="form-control" id="account" placeholder="Enter account number">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Transfer Amount</label>
          <input type="Integer" class="form-control" id="amount" placeholder="Amount">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Confirm</label>
        </div>
        <button onclick="transferAmountClick(account.value,amount.value)" class="btn btn-primary">Transfer</button>
</div>
